<div class="card-product">
  <% if car.photos.attached? %>
    <%= cl_image_tag car.photos.first.key, height: 300, width: 400, crop: :fill  %>
  <% else %>
    <img src="https://st4.depositphotos.com/14953852/22772/v/1600/depositphotos_227725120-stock-illustration-image-available-icon-flat-vector.jpg" alt="no image found", height= "300", width= "400">
  <% end %>
  <div class="card-product-infos">
    <h2><%= link_to "#{car.color} #{car.brand} #{car.model}",car_path(car)%></h2>
    <p><%= "#{car.address} | $#{car.price_per_day} per day" %></p>
    <p><%= "Owner: #{car.user.email}" %></p>
    <% @bookings.each do |booking|%>
    <p> From: <%=booking.start_date.strftime("%d %m %y")%> to: <%=booking.end_date.strftime("%d %m %y")%> </p>
    <p> Total Cost: $<%=booking.price_total%> </p>
    <% end %>
</div>
