<h1 class="text-center p-3"> Edit Your Booking </h1>

<div class="p-2 container">
<%= simple_form_for @booking, data: { controller: 'flatpickr' } do |f|%>
  <% f.object.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
  <%= f.input :start_date,as: :string, label: "Start Date" , input_html: { data: { flatpickr_target: "startTime" } } %>
  <%= f.input :end_date, label: "End Date", as: :string, input_html: { data: { flatpickr_target: "endTime" } }%>
  <%= f.button :submit,  class:"btn btn-success mt-3 m-1"%>
<% end %>
<%= link_to "Back", bookings_path, class:"btn btn-primary mt-3 m-1"%>
</div>
