<h1 class="text-center p-3"> Edit Your Booking </h1>

<div class="p-2">
<%= simple_form_for @booking do |f|%>
  <% f.object.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
  <%= f.input :start_date, as: :date, label: "Start Date"%>
  <%= f.input :end_date, as: :date, label: "End Date"%>
  <%= f.button :submit,  class:"btn btn-success mt-3 m-1"%>
<% end %>
<%= link_to "Back", bookings_path, class:"btn btn-primary mt-3 m-1"%>
</div>
