<h1 class="text-center p-3"> List a new car </h1>

<div class="allcontainer">
  <div class="allcard">
<%= simple_form_for(@car) do |f| %>
  <%= f.input :brand %>
  <%= f.input :model %>
  <%= f.input :color %>
  <%= f.input :year %>
  <%= f.input :doors %>
  <%= f.input :car_type %>
  <%= f.input :fuel_type %>
  <%= f.input :transmission %>
  <%= f.input :kilometrage %>
  <%= f.input :address %>
  <%= f.input :price_per_day %>
  <%= f.input :standard_specs, label:"Description of car" %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit class:"btn btn-success mt-3 m-1"%>
  <%= link_to "Return to all cars", cars_path, class:"btn btn-primary mt-3 m-1" %>
  <% end %>
  </div>
</div>
