<h1 class="text-center p-3"> List a new car </h1>

<div class="container">
  <div class="card bg-dark">
    <div class="card-body">

    <%= simple_form_for(@car) do |f| %>
      <%= f.input :brand %>
      <%= f.input :model %>
      <%= f.input :color %>
      <%= f.input :year %>
      <%= f.input :doors %>
      <%= f.input :address %>
      <%= f.input :car_type, collection: Car::CAR_TYPE %>
      <%= f.input :fuel_type, collection: Car::FUEL_TYPE %>
      <%= f.input :transmission, collection: Car::TRANSMISSION %>
      <%= f.input :drive_type, collection: Car::DRIVE_TYPE %>
      <%= f.input :kilometrage %>
      <%= f.input :price_per_day %>
      <%= f.input :standard_specs, label:"Description of car" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit class:"btn btn-success mt-3 m-1"%>
      <%= link_to "Return to all cars", cars_path, class:"btn btn-primary mt-3 m-1" %>
      <% end %>
  </div>
  </div>
</div>
