<div>
  <%= @car.photo%>
</div>
<div>
  <%=@car.brand%>
</div>
<div>
  <%=@car.model%>
</div>
<div>
  <%=@car.color%>
</div>
<div>
  $<%=@car.price_per_day%>
</div>
<div>
  <%=@car.user.email%>
</div>
