<div>
  <% @car.photos.each do |photo|%>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill  %>
  <% end %>
</div>
<div>
  <%=@car.brand%>
</div>
<div>
  <%=@car.model%>
</div>
<div>
  <%=@car.color%>
</div>
<div>
  $<%=@car.price_per_day%>
</div>
<div>
  <%# raise %>
  <%=@car.user.email%>
</div>
<%=link_to "edit this car", edit_car_path(@car.id)%>
<%= link_to 'delete this car', car_path(@car.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{@car.user.first_name}'s #{@car.brand} #{@car.model}?"} %>
