<div class="carcard">
<h1 class="text-center p-3"> <%="#{@car.brand} #{@car.model}"%> </h1>
<div class="container mx-auto">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @car.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= "active" if index.zero? %>">
                    <img class="d-block w-100" src="<%= cl_image_path photo.key %>" alt="<%= index.ordinalize %> image">
                </div>
            <% end %>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="text-center p-4">
  <p>Price per day: $<%=@car.price_per_day%></p>
  <p>Location: <%=@car.address%></p>
  <p>Contact Name: <%=@car.user.first_name %></p>
  <p>Contact Email: <%=@car.user.email%> </p>
  <div class=""><%= "Door: #{@car.doors}" %></div>

  <div class=""><%= "#{@car.car_type}" %></div>
  <div class=""><%= "#{@car.fuel_type}" %></div>
  <div class=""><%= "#{@car.kilometrage}" %></div>
  <div class=""><%= "#{@car.transmission}" %></div>
  <div class=""><%= "#{@car.color}" %></div>
  <div class=""><%= "#{@car.year}" %></div>
  <div class=""><%= "#{@car.standard_specs}" %></div>
  <%= link_to "Return to all cars", cars_path, class:"btn btn-primary m-2" %>
  <%= link_to "Make a booking", new_car_booking_path(@car), class:"btn btn-success m-2"%>
  <%= link_to "Review This Car", new_car_review_path(@car.id), class:"btn btn-warning m-2"%>
</div>

</div>

<h2 class="car-reviews-heading">Reviews of this car:</h2>
<div class="allcontainer">
  <% @reviews.each do |review| %>
    <div class="allcard">
        <p><%= review.user.first_name %> said on <%= review.created_at.strftime("%d %b %Y") %>:</p>
        <p><%= review.content %></p>
        <p>This user gave the car <%= review.rating %> ⭐️</p>
    </div>
    <% end %>
  </div>
</div>
