<h1 class="text-center p-4"> Bookings for your cars: </h1>

<div class="allcontainer">
  <% @all_bookings.each do |car_bookings| %>
    <% car_bookings.each do |booking| %>
      <div class="allcard">
     <p>Booking for your <%= booking.car.color %> <%= booking.car.brand %> <%= booking.car.model %> :</p></li>
      <%= cl_image_tag booking.car.photos.first.key, height: 300, width: 400, crop: :fill %>
      <p>Booking date: <%= booking.start_date.strftime("%d %b %Y") %> to <%= booking.end_date.strftime("%d %b %Y")%></p>
      <p>Total booking price: $<%= booking.price_total %> AUD </p>
      <p>Booked by: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
      <p>Booking status: <%= booking.status %></p>
      <div class="">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Booking status
          </button>
          <%=render "modal", booking: booking%>

      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
